
.ant-layout-header {
    background-color: #05237a;
    color: white;
    font-size: -webkit-xxx-large;
    text-align: center;
}
.ant-layout-content{
    width: 25%;
    display: block;
    margin-left: autp;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
    margin-top: 5%;
}

